astroid==2.2.5
Click==7.1.2
ecdsa==0.13.2
Flask==2.0.0
Flask-SQLAlchemy==2.5.0
future==0.17.1
isort==4.3.18
itsdangerous==2.0.1
Jinja2==3.0.0
lazy-object-proxy==1.4.0
MarkupSafe==2.0.1
mccabe==0.6.1
pycryptodome==3.3.1
pylint==2.3.1
python-jose[cryptography]==3.3.0
six==1.12.0
# typed-ast==1.4.2
Werkzeug==2.0.0
wrapt==1.11.1
Flask-Cors==3.0.8
SQLAlchemy==1.4.41